.b-page

	&__screen
		
		&--certification
			background-size cover
			background url('../images/certification-screen-bg.jpg') 50% 100%
			color #000
			
.b-certification
	
	&__title
		font-size 60px
		font-size 5vh
		font-weight 900
		font-style italic
		line-height 1
		padding-top 60px
		
	&__list
		display flex
		padding-top 60px
		
	&__item
		margin-left 15px
		
		img
			box-shadow 0 0 9px rgba(0,0,0,.75)
			max-height 30vh
	
	&__scroll
		position absolute
		right 70px
		bottom 70px