.b-page

	&__screen
		
		&--home
			background-size cover
			background url('../images/home-screen-bg.jpg') 50% 100%
			color #fff
			
.b-home
	
	&__title
		color #fff
		font-size 37px
		line-height 60px
		text-transform uppercase
		
		span
			padding 0 15px 
		a
			color #4d9877
			border-bottom 1px dashed
			text-decoration none
			
			&:hover
				text-decoration none
				
			&.active
				color #fff
				border-bottom 0
		