.b-page

	&__screen
		
		&--home
			background-size cover
			background url('../images/home-screen-bg.jpg') 50% 100%
			color #fff
			
			@media (max-width: 1366px)
				padding-right 50px
			
.b-home
	
	&__title
		color #fff
		font-size 37px
		font-size 2.50vh
		line-height 60px
		line-height 4.50vh
		text-transform uppercase
		
		@media (max-width: 1366px)
			font-size 18px
		
		span
			padding 0 15px 
		a
			color #4d9877
			border-bottom 1px dashed
			text-decoration none
			
			&:hover
				text-decoration none
				
			&.active
				color #fff
				border-bottom 0
	
	&__content
		display flex

	&__images
		position relative
		img
			max-height 60vh
			display none
			
			&.active
				display block
		
	&__scroll
		position absolute
		right 70px
		bottom 70px
		display flex	


.b-offer
	text-align center
	text-transform uppercase
	font-size 4vh
	padding-left 50px
	
	@media (max-width: 1366px)
		font-size 18px
	
	&__link
		padding-top 15vh
		
		@media (max-width: 1366px)
			padding-top 60px
		
		img
			@media (max-width: 1366px)
				width 100px
		