html, 
body
	height: 100%;

*
	box-sizing: border-box


.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body
	padding 0
	font-family font_regular
	position relative
	
.b-page
	position relative
	
	&__header
		position fixed
		width 100%
		z-index 1
		display flex
		justify-content flex-end
		padding-top 5vh
		padding-right 70px
	
	&__sidebar
		position fixed
		width 25%
		height 100%
		z-index 1
		
	&__screen
		padding-left 25%
		padding-top 12vh
		position relative
		
.b-header
	background #6ac0f3
	padding 0 30px
	border-radius 23px
	display flex
	align-items center
	color #fff
	transition: all 0.25s ease-in-out;
	
	&__phone
		font-size 18px
		font-weight bold
		line-height 45px
		
	&__slash
		font-size 40px
		line-height 45px		
		padding 0 15px
		
	&__callback
		color #fff
		font-size 18px
		text-decoration underline
		transition: all 0.25s ease-in-out;
		
	&--inverse
		background #fff
		color #6ac0f3
		
		& ^[0]__callback
			color #6ac0f3
		

.b-sidebar
	padding-left 10%
	padding-top 9vh
	padding-bottom 75px
	position relative
	height 100%
	display flex
	flex-direction column
	justify-content space-between
	
	&__logo
		
	&__slogan
		font-family 'Tahoma'
		font-size 15px
		color #5d5d5d
		text-transform uppercase
		padding-top 15px
	
	&__link
		color #010101
		font-size 18px
		text-decoration none
		display block
	
	&__copy
		color #010101
		font-size 18px

.b-menu
	
	&__toggle
		text-align left
	
.b-toggle
	background #a9dfff
	display inline-block
	padding 65px 43px 69px 44px
	padding 6vh 4vh 6vh 4vh
	
	&__line
		width 93px
		height 6px
		background #fff
	
	&__line + &__line
		margin-top 15px
		
.b-scroll
	display flex
	font-size 18px
	text-transform uppercase
	line-height 18px
	padding-bottom 45px
	background url("../images/scroll-line-icon.png") no-repeat 50px 100%
	
	&--green
		background url("../images/scroll-line-icon--green.png") no-repeat 50px 100%
		
	&--home
		background url("../images/scroll-line-icon--home.png") no-repeat 50px 0%
		padding-bottom 0
		padding-top 45px

	&__icon
		width 100px
		height 100px
		background url("../images/scroll-icon.png") no-repeat
		
		&--green
			background url("../images/scroll-icon--green.png") no-repeat
		
		&--home
			background url("../images/scroll-icon--home.png") no-repeat
		
	&__text
		padding-top 25px
		padding-left 10px
		color #fff
		
		&--green
			color #4d9877

.b-delivery
	color #4d9877
	display flex
	padding-right 45px
	
	&__text
		font-size 25px
		line-height 1
		padding-top 25px
		
		&--white
			color #fff
		
	&__icon
		padding-top 20px
		padding-left 15px

#fp-nav 
	ul 
		li
			width 34px
			height 40px
			
			a 
				span
					background #dffff1
					width 30px
					height 30px
					margin -12px 0 0 -12px
					
				&.active
				
					span
						background url('../images/dot-icon.png') no-repeat
						width 30px
						height 40px
						margin -20px 0 0 -12px
						
			&:hover
				a 
					span
						background url('../images/dot-icon.png') no-repeat
						width 30px
						height 40px
						margin -20px 0 0 -12px
						
					&.active
					
						span
							background url('../images/dot-icon.png') no-repeat
							width 30px
							height 40px
							margin -20px 0 0 -12px
					
