html, 
body
	height: 100%;

*
	box-sizing: border-box


.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body
	padding 0
	font-family font_regular
	position relative
	
.b-page
	position relative
	
	&__header
		position fixed
		width 100%
		z-index 1
		display flex
		justify-content flex-end
		padding-top 5vh
		padding-right 70px
	
	&__sidebar
		position fixed
		width 25%
		height 100%
		z-index 1
		
	&__screen
		padding-left 25%
		padding-top 12vh
		position relative
		
.b-header
	background #6ac0f3
	padding 0 30px
	border-radius 23px
	display flex
	align-items center
	color #fff
	transition: all 0.25s ease-in-out;
	
	&__phone
		font-size 18px
		font-weight bold
		line-height 45px
		
	&__slash
		font-size 40px
		line-height 45px		
		padding 0 15px
		
	&__callback
		color #fff
		font-size 18px
		text-decoration underline
		transition: all 0.25s ease-in-out;
		
	&--inverse
		background #fff
		color #6ac0f3
		
		& ^[0]__callback
			color #6ac0f3
		

.b-sidebar
	padding-left 10%
	padding-top 9vh
	padding-bottom 75px
	position relative
	height 100%
	display flex
	flex-direction column
	justify-content space-between
	transition all 0.25s ease-in-out
	
	&--opened
		background #a9dfff
		
		& ^[0]__link
			color #fff
		
		& ^[0]__copy
			color #fff
	
	&__logo
		
		img
			max-width 100%
	
	&__slogan
		font-family 'Tahoma'
		font-size 15px
		color #5d5d5d
		text-transform uppercase
		padding-top 15px
	
	&__link
		color #010101
		font-size 18px
		text-decoration none
		display block
		transition all 0.25s ease-in-out
		
		&:hover
			color #6ac0f3
			text-decoration underline
			
		&--white
			color #fff
			
			&:hover
				color #fff

	
	&__copy
		color #010101
		font-size 18px
		
		&--white
			color #fff
		
	&__menu
		width 100%
		transform translateX(-100%)
		transition all 0.25s ease-in-out
		display none
		
		&--open
			transform translateX(0)
			display block

.b-menu
	padding-right 100px
	
	&__toggle
		text-align left
		
	&__item
		font-size 36px
		color #5d5d5d
		display block
		text-decoration none
		line-height 48px
		border-bottom 2px solid #fff
		
		&:nth-child(1)
			background url('../images/icon-arrow-right.png') no-repeat 90% 50%

		&:nth-child(2)
			background url('../images/icon-arrow-right-top.png') no-repeat 90% 50%

		&:nth-child(3)
			background url('../images/icon-arrow-right.png') no-repeat 90% 50%

		&:nth-child(4)
			background url('../images/icon-arrow-left-top.png') no-repeat 90% 50%

		&:nth-child(5)
			background url('../images/icon-arrow-bottom.png') no-repeat 90% 50%
		
		&:nth-child(6)
			background url('../images/icon-arrow-right-bottom.png') no-repeat 90% 50%
	

.b-toggle
	background #a9dfff
	display inline-block
	padding 65px 43px 69px 44px
	padding 6vh 4vh 6vh 4vh
	
	&--close
		display none
	
	&__line
		width 93px
		height 6px
		background #fff
	
	&__line + &__line
		margin-top 15px
		
.b-scroll
	display flex
	font-size 18px
	text-transform uppercase
	line-height 18px
	padding-bottom 45px
	background url("../images/scroll-line-icon.png") no-repeat 50px 100%
	position relative
	padding-left 100px

	&--green
		background url("../images/scroll-line-icon--green.png") no-repeat 50px 100%
		
	&--home
		background url("../images/scroll-line-icon--home.png") no-repeat 50px 0%
		padding-bottom 0
		padding-top 45px

	&__icon
		width 100px
		height 100px
		background url("../images/scroll-icon.png") no-repeat
		cursor pointer
		animation scroll-ani 4s linear infinite
		position absolute
		top -39px
		left 0
		
		&--green
			background url("../images/scroll-icon--green.png") no-repeat
		
		&--home
			background url("../images/scroll-icon--home.png") no-repeat
			top inherit
			bottom -39px
			animation scroll-home 4s linear infinite
		
	&__text
		padding-top 25px
		padding-left 10px
		color #fff

		
		&--green
			color #4d9877

.b-delivery
	color #4d9877
	display flex
	padding-right 45px
	
	&__text
		font-size 25px
		line-height 1
		padding-top 25px
		
		&--white
			color #fff
		
	&__icon
		padding-top 20px
		padding-left 15px

#fp-nav 
	ul 
		li
			width 34px
			height 40px
			
			a 
				span
					background #dffff1
					width 30px
					height 30px
					margin -12px 0 0 -12px
					
				&.active
				
					span
						background url('../images/dot-icon.png') no-repeat
						width 30px
						height 40px
						margin -20px 0 0 -12px
						
			&:hover
				a 
					span
						background url('../images/dot-icon.png') no-repeat
						width 30px
						height 40px
						margin -20px 0 0 -12px
						
					&.active
					
						span
							background url('../images/dot-icon.png') no-repeat
							width 30px
							height 40px
							margin -20px 0 0 -12px

.b-window
	width 600px
	background #fff
	box-shadow 2px 2px 2px 2px rgba(0,0,0,0.5)
	margin 0 auto
	position relative
	
	@media (max-width: 768px)
		width 100%
	
	&--callback
		width 412px
		
		@media (max-width: 768px)
			width 100%
	
	&--sms
		width 1100px
		
		@media (max-width: 768px)
			width 100%
	
	&__content
		display flex
		padding 40px
		flex-wrap wrap
		
		@media (max-width: 768px)
			padding 15px

	&__title
		font-size 24px
		font-weight bold
		line-height 1
		color #222
		margin 0 0 20px
		text-align center
		text-transform uppercase
		

		&--center
			text-align center
			flex 0 0 100%
			margin-top 20px

		&--phone
			color cl_red
			
			@media (max-width: 768px)
				word-wrap no 

	&__form
		padding-left 20px
		display block
		flex 1
		padding-right: 20px
		
		@media (max-width: 768px)
			padding 0

	&__note
		font-size 16px
		color #222
		margin-bottom 20px
		text-align center				

.b-form
	display block
	width 100%
	
	&--blue
		flex 1
		
	&--inline
		width 960px
		
		@media (max-width: 768px)
			width 100%
	
	&__title
		font-size 24px
		text-align center
		font-family font_calibli
		margin-bottom 30px
		
		@media (max-width: 768px)
			font-size 20px
			margin-bottom 15px
		
		&--white
			margin-bottom 20px
			line-height 1
			
			span
				display block
				text-transform uppercase
	&__step
		color cl_blue
		font-size 18px
		font-family font_calibli
		text-transform uppercase
		text-align center
		padding-bottom 15px
		padding-top 35px
		
		span
			color #000000
			
	&__required
		color cl_red

	&__fieldset
		display flex
		justify-content space-between
		
		@media (max-width: 768px)
			flex-wrap wrap
			
		&--colum
			flex-wrap wrap
			flex-direction column
			align-items center
		
		&--calc
			flex-wrap wrap
			align-items center
			justify-content flex-start
			margin 35px 0
		
	&__group
		display flex
		flex-direction column
		align-items center
		width 100%
		
		@media (max-width: 768px)
			flex-wrap wrap
		
		&--main
			width 303px
			
			@media (max-width: 768px)
				width 100%
				margin-bottom 15px
		
		&--calc
			width 195px
			margin-right 60px
			
			@media (max-width: 768px)
				width 100%
				margin-right 0
			
		&--flex
			display flex
			flex-direction row
			justify-content center
			
		&--line + &--line
			margin-top 30px
			
		&--contact
			width 450px
			
			@media (max-width: 768px)
				width 100%
	
	&__button
		margin-top 30px
		width 100%
			
	
	&__text
		margin-top 15px
		font-size 18px
		font-family font_calibli

	&__data
		font-size 16px
		font-weight lighter
		line-height 17px
		margin-top 15px
		text-align center
		display flex
		font-family font_calibli
		
	&__checkbox
		margin-right 35px
		
	&__success
		display none
		margin 20px 0
		padding 14px 16px
		background-color #4caf50
		min-height 48px
		box-shadow 0 -1px 0 rgba(0,0,0,.06),0 0 3px rgba(0,0,0,.18),0 1px 3px rgba(0,0,0,.18)
		color #fff
		text-align center
		font-size 14px

.b-input
	
	&--white
		border-radius 10px
		border 1px solid #a9dfff
		text-align center
		font-size 24px
		color #5d5d5d
		text-transform uppercase
		padding 10px 0
		width 100%
	
	&:focus
		outline 0

.b-button
	
	&--send
		border-radius 10px
		border 1px solid #a9dfff
		text-align center
		font-size 24px
		color #5d5d5d
		text-transform uppercase
		padding 10px 0
		background #a9dfff
		text-decoration none
		display block
		width 100%
	
	&:focus
		outline 0

// Animations
@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: -39px;
  }
  15% {
    opacity: 1;
    top: -9px;
  }
  50% {
    opacity: 0;
    top: -9px;
  }
  100% {
    opacity: 0;
    top: -39px;
  }
}

@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: -39px;
  }
  15% {
    opacity: 1;
    top: -9px;
  }
  50% {
    opacity: 0;
    top: -9px;
  }
  100% {
    opacity: 0;
    top: -39px;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: -39px;
  }
  15% {
    opacity: 1;
    top: -9px;
  }
  50% {
    opacity: 0;
    top: -9px;
  }
  100% {
    opacity: 0;
    top: -39px;
  }
}

@keyframes scroll-home {
  0% {
    opacity: 0;
    bottom: -39px;
  }
  15% {
    opacity: 0;
    bottom: -23px;
  }
  50% {
    opacity: 1;
    bottom: -23px;
  }
  100% {
    opacity: 1;
    bottom: -39px;
  }
}