.b-page

	&__screen
		
		&--partners
			background-size cover
			background url('../images/partners-screen-bg.jpg') 50% 100%
			color #fff

.b-partners
	padding-right: 15%;

	&__title
		outline: 1px solid #ccc;
		outline-offset: -10px;
		font-size: 4vh;
		text-transform: uppercase;
		background-color: rgba(0,0,0,0.6);
		padding: 10px 90px;
		display: inline-block;

	&__form
		position: relative;
		box-shadow: 3px 4px 5px rgba(0,0,0,0.75);
		background-color: rgba(255,255,255,0.8);
		display: flex;
		margin-top: 10vh;
		padding: 20px;

	&__callback
		width: 464px;
		background-color: #b0e1fd;
		padding: 3vh 2vh;
		font-family: OpenSans;
		font-size: 30px;

		&--capt
			text-transform: uppercase;
			color: #303030;

		&--name
			box-shadow: inset 0 0 5px rgba(0,0,0,.75);
			width: 388px;
			height: 71px;
			margin-top: 3vh;

		&--phone
			box-shadow: inset 0 0 5px rgba(0,0,0,.75);
			width: 388px;
			height: 71px;
			margin-top: 3vh;

		&--butt
			width: 380px;
			height: 63px;
			text-align: center;

		&--sign
			text-transform: uppercase;
			color: #303030;
			text-align: center;

	&__info
		font-size: 24px;
		color: #040404;
		padding: 10vh;
		position: relative;

		&--capt
			font-weight: bold;
			margin-top: 3vh;

	&__scroll
		position absolute
		right 70px
		bottom 70px