.b-page

	&__screen
		
		&--partners
			background-size cover
			background url('../images/partners-screen-bg.jpg') 50% 100%
			color #fff

.b-ymap
	position absolute
	width 100%
	height 100%
	top 0
	left 0

.b-partners
	padding-right 15%

	&__title
		outline 1px solid #ccc
		outline-offset -10px
		font-size 4vh
		text-transform uppercase
		background-color rgba(0,0,0,0.6)
		padding 10px 90px
		display inline-block
		z-index 11
		position relative

	&__form
		position relative
		box-shadow 3px 4px 5px rgba(0,0,0,0.75)
		background-color rgba(255,255,255,0.8)
		display flex
		margin-top 8vh
		padding 20px

	&__callback
		width 40%
		background-color #b0e1fd
		padding 3vh 2vh
		font-size 2.5vh

		&--capt
			text-transform uppercase
			color #303030
			text-align center

		&--input
			box-shadow inset 0 0 5px rgba(0,0,0,.75)
			width 100%
			margin-top 3vh
			background #fff
			background rgba(255,255,255,0.6)
			border 0
			padding 10px 10px
			
			&:focus
				outline 0

		&--button
			width 100%
			text-align center
			padding 10px 10px
			background linear-gradient(to bottom, #b2b404, #f8ff46)
			margin-top 3vh
			display block
			border 0

		&--sign
			text-transform: uppercase
			color: #303030
			margin-top 3vh
			line-height 3vh
			text-align: center

	&__info
		font-size: 2vh;
		color: #040404;
		padding: 5vh;
		position: relative;

		&--capt
			font-weight: bold;
			margin-top: 3vh;

	&__scroll
		position absolute
		right 70px
		bottom 70px