.b-page

	&__screen
		
		&--reviews
			background-size cover
			background url('../images/reviews-screen-bg.jpg') 50% 100%
			color #fff
			
.b-reviews
	position relative
	height 100%

	&__title
		color #fff
		font-size 60px
		line-height 1
		text-transform uppercase
		padding 10px 0 10px 60px
		background rgba(77, 152, 119, 0.6)
		width 100%
		
		@media (max-width: 1366px)
			font-size 24px
		
	&__content
		padding-right 25%
		
	&__list
		margin-top 6vh
	
	&__item
		padding 2.5vh 4vh
		background-color #fff
		box-shadow 0 0 5px rgba(0,0,0,.75)
	
	&__nav
		display flex
		justify-content space-between
		padding-top 15px
		
	&__button
		text-align center
		padding 4vh
		
	&__scroll
		position absolute
		right 70px
		bottom 70px
		
		@media (max-width: 1366px)
			bottom 0

.b-review
	color #000000
	font-size 2vh
	
	&__line
		display flex
		padding-top 10px
		align-items flex-end
	
	&__title
		color #d86a43
		font-size 2vh
		font-style italic
		
	&__text
		padding-left 25px
		color #535252
		font-size 2.5vh

.b-nav
	border 3px solid #d86a43
	border-radius 8px
	display flex
	font-size 36px
	font-size 2.5vh
	font-style italic
	cursor pointer

	span
		background #d86a43
		width 100%
		padding 15px 50px

	&--prev
		background url('../images/nav-prev.png') 8% 50% no-repeat
		padding-left 75px
		
		
	
	&--next
		background url('../images/nav-next.png') 94% 50% no-repeat
		padding-right 75px
		
.b-button
	
	&--reviews
		padding 1.5vh
		box-shadow 3px 4px 5px #000
		border 1px solid #d86a43
		font-size 30px
		font-size 2vh
		text-transform uppercase
		display flex
		width 310px
		justify-content space-around
		margin 0 auto
		color #fff
		text-decoration none