.b-page

	&__screen
		
		&--reviews
			background-size cover
			background url('../images/reviews-screen-bg.jpg') 50% 100%
			color #fff
			
.b-reviews
	display flex

	&__title
		color #fff
		font-size 60px
		line-height 1
		text-transform uppercase
		padding 10px 0 10px 60px
		background rgba(77, 152, 119, 0.6)
		