.b-page

	&__screen
		
		&--use
			background-size cover
			background url('../images/use-screen-bg.jpg') 50% 100%
			color #fff
		
.b-use
	display flex
	flex-direction column;
	position relative
	height 100%
	
	&__title
		color #fff
		font-size 60px
		font-size 4.50vh
		line-height 1
		text-transform uppercase
		padding 10px 0 10px 60px
		background rgba(0, 0, 0, 0.6)
		width 100%
	
	&__video
		
		img
			max-height 50vh
	
	&__footer
		background rgba(241,230,83,0.8)
		padding 2.5vh 8vh
		color #000
		font-size 2.50vh
		text-transform uppercase
		width 75%
		
	&__text
		padding-bottom 15px
	
	&__group
		display flex
		justify-content space-between
		
	&__button
		display flex
		align-items center
		border 1px dashed #d86a43
		border-radius 8px
		padding 10px
		cursor pointer
		
		span
			padding-left 25px
			
	&__scroll
		position absolute
		right 70px
		bottom 70px