@font-face {
    font-family: 'Benguiat Rus';
    font-style: normal;
    font-weight: 400;
    src: local('Benguiat Rus'), local('BenguiatRus-Regular'),
        url('/assets/fonts/benguiat-rus.woff') format('woff'),
        url('/assets/fonts/benguiat-rus.ttf') format('truetype');
}

@font-face {
    font-family: 'Benguiat Rus Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Benguiat Rus Bold'), local('BenguiatRus-Bold'),
        url('/assets/fonts/benguiat-rus-bold.woff') format('woff'),
        url('/assets/fonts/benguiat-rus-bold.ttf') format('truetype');
}