_default           = sans-serif
font_regular       = 'Open Sans', _default
font_calibli       = 'Calibri', Helvetica, Arial, sans-serif


cl_gren = #92c37c
cl_l_gren = lightness(cl_gren, 50%)
cl_d_gren = #92c37c

cl_red = #ab3c49
cl_l_red = lightness(cl_red, 50%)
cl_d_red = #92c37c

cl_blue = #02488d
cl_l_blue = lightness(cl_blue, 50%)
