.section.b-page__screen.b-page__screen--calc
	.b-calc
		.b-calc__title Калькулятор вашей выгоды

		.b-calc__content
			.b-calc__form
				.b-calc__line
					label.b-calc__label расход топлива на 100 км
					input.b-calc__input(type='text', name='consumption' value='0')
				
				.b-calc__line
					label.b-calc__label расстояние в месяц
					input.b-calc__input(type='text', name='distance' value='0')

				.b-calc__line
					label.b-calc__label стоимость 1 литра топлива
					input.b-calc__input(type='text', name='price' value='0')
			
			.b-calc__result Ваша выгода 
				br 
				| составит
				br
				span 7% или
				br 
				span.js-price 400 
				|&nbsp;рублей*

		.b-calc__footer
			a.b-button.b-button--calc.js-show-modal(href='#js-m-callback') Получить

		a.b-calc__prim.js-show-modal(href='#js-m-calc') Результаты применения
		
		.b-calc__scroll
			.b-delivery.b-delivery--white.js-show-modal(href='#js-m-delivery')
				.b-delivery__text.b-delivery__text--white Условия 
					br
					| доставки
				.b-delivery__icon.b-delivery__icon--white
					img(src="/assets/images/delivery-icon.png")

			.b-scroll.b-scroll
				.b-scroll__icon.b-scroll__icon.js-move-section-down
				.b-scroll__line.b-scroll__line
				.b-scroll__text.b-scroll__text ИСПОЛЬЗУЙТЕ 
					br
					| СКРОЛЛ