.section.b-page__screen.b-page__screen--capability
	.b-capability
		.b-capability__title А еще наша присадка 
			br
			| делает следующие вещи:

		.b-capability__list
			.b-capability__item.b-capability__item--left 1. Очищение топливной системы
			.b-capability__item.b-capability__item--right 2. Очищение топливной системы
			.b-capability__item.b-capability__item--left 3. Очищение топливной системы
			.b-capability__item.b-capability__item--right 4. Очищение топливной системы
			.b-capability__item.b-capability__item--left 5. Очищение топливной системы
			.b-capability__item.b-capability__item--right 6. Очищение топливной системы

		.b-capability__text Остались вопросы? - 
		.b-capability__text.b-capability__text--yellow Давайте мы вам 
			a(href='#') поможем!

		.b-certification__scroll
			.b-scroll
				.b-scroll__icon.js-move-section-down
				.b-scroll__line
				.b-scroll__text ИСПОЛЬЗУЙТЕ 
					br
					| СКРОЛЛ