.section.b-page__screen.b-page__screen--certification
	.b-certification
		.b-certification__title Что бы не быть голословными,
			br
			| мы прошли 
			br
			| сертификацию

		.b-certification__list
			.b-certification__item
				a.js-show-image(href='/assets/images/certification-1.jpg')
					img(src='/assets/images/certification-1.jpg')
			.b-certification__item
				a.js-show-image(href='/assets/images/certification-2.jpg')
					img(src='/assets/images/certification-2.jpg')
			.b-certification__item
				a.js-show-image(href='/assets/images/certification-3.jpg')
					img(src='/assets/images/certification-3.jpg')
			.b-certification__item
				a.js-show-image(href='/assets/images/certification-4.jpg')
					img(src='/assets/images/certification-4.jpg')
			.b-certification__item
				a.js-show-image(href='/assets/images/certification-5.jpg')
					img(src='/assets/images/certification-5.jpg')

		.b-certification__scroll
			.b-scroll
				.b-scroll__icon.js-move-section-down
				.b-scroll__line
				.b-scroll__text ИСПОЛЬЗУЙТЕ 
					br
					| СКРОЛЛ