.section.b-page__screen.b-page__screen--home
	.b-home
		.b-home__title Универсальная топливная присадка 
			br 
			| для 
			a.active(href='#benz') бензиновых
			span /
			a(href='#diz') дизельных 
			br
			| двигателей