.section.b-page__screen.b-page__screen--home
	.b-home
		.b-home__title Универсальная топливная присадка 
			br 
			| для 
			a.active.js-image-toggle(href='#benz', data-img='benz.png') бензиновых
			span /
			a.js-image-toggle(href='#diz', data-img='diz.png') дизельных 
			br
			| двигателей

		.b-home__content
			.b-home__images
				img.active.js-image#benz(src='/assets/images/benz.png')
				img.js-image#diz(src='/assets/images/diz.png')
			.b-home__offer 
				.b-offer
					.b-offer__title Ваше Уникальное 
						br
						| торговое предложение 
					.b-offer__link
						a.js-show-modal(href='#js-m-callback')
							img(src='/assets/images/icon-offer.png')

		.b-home__scroll
			.b-scroll.b-scroll--home
				.b-scroll__icon.b-scroll__icon--home.js-move-section-down
				.b-scroll__line.b-scroll__line--home
				.b-scroll__text.b-scroll__text--home ИСПОЛЬЗУЙТЕ 
					br
					| СКРОЛЛ

