.section.b-page__screen.b-page__screen--partners
	.b-ymap#ymap
	.b-partners
		.b-partners__title.js-show-modal(href='#js-m-partners') Партнеры

		.b-partners__form
			.b-partners__callback
				.b-partners__callback--capt ФОРМА ОБРАТНОЙ СВЯЗИ
				form.b-form.js-form-callback#form-callback(action="/ajax/form-callback/", method="post", data-id='callback')
					.b-form__fieldset.b-form__fieldset--colum
						.b-form__error.js-error-callback
						input.b-partners__callback--input(placeholder='Имя', type='text')
						input.b-partners__callback--input(placeholder='Телефон', type='text')
						button.b-button.b-partners__callback--button(type='submit') ОФОРМИТЬ ЗАКАЗ
					.b-form__success.js-success-callback Спасибо! Ваша заявка отправлена.
				.b-partners__callback--sign И
				.b-partners__callback--sign НАЧАТЬ ЭКОНОМИТЬ

			.b-partners__info
				.b-partners__info--contacts Время приема заявок через форму заказа на сайте: ежедневно, круглосуточно.
				.b-partners__info--contacts Время приема звонков и консультации по телефону: ежедневно с 10-00 до 21-00
				.b-partners__info--capt Наши телефоны:
				.b-partners__info--contacts Отдел продаж: +7 495 642 31 47, +7(916) 577 40 86 (ежедневно с 09-00 до 20-00 мск)
				.b-partners__info--contacts Консультация: +7 (965) 401 86 34 (ежедневно с 10-00 до 21-00мск) 
				.b-partners__info--contacts E-mail для приема заказов: nagroboost@nagroboost.com, n.nagr@yandex.ru 
				.b-partners__info--contacts Адрес: Московская область, г. Подольск

	.b-certification__scroll
		.b-scroll
			.b-scroll__icon.js-move-section-down
			.b-scroll__line
			.b-scroll__text ИСПОЛЬЗУЙТЕ 
				br
				| СКРОЛЛ