.section.b-page__screen.b-page__screen--partners
	.b-partners
		.b-partners__title Партнеры

		.b-partners__form
			.b-partners__callback
				.b-partners__callback--capt ФОРМА ОБРАТНОЙ СВЯЗИ
				input.b-partners__callback--input(placeholder='Имя', type='text')
				input.b-partners__callback--input(placeholder='Телефон', type='text')
				.b-partners__callback--button ОФОРМИТЬ ЗАКАЗ
				.b-partners__callback--sign И
				.b-partners__callback--sign НАЧАТЬ ЭКОНОМИТЬ

			.b-partners__info
				.b-partners__info--contacts Время приема заявок через форму заказа на сайте: ежедневно, круглосуточно.
				.b-partners__info--contacts Время приема звонков и консультации по телефону: ежедневно с 10-00 до 21-00
				.b-partners__info--capt Наши телефоны:
				.b-partners__info--contacts Отдел продаж: +7 495 642 31 47, +7(916) 577 40 86 (ежедневно с 09-00 до 20-00 мск)
				.b-partners__info--contacts Консультация: +7 (965) 401 86 34 (ежедневно с 10-00 до 21-00мск) 
				.b-partners__info--contacts E-mail для приема заказов: nagroboost@nagroboost.com, n.nagr@yandex.ru 
				.b-partners__info--contacts Адрес: Московская область, г. Подольск

	.b-certification__scroll
		.b-scroll
			.b-scroll__icon.js-move-section-down
			.b-scroll__line
			.b-scroll__text ИСПОЛЬЗУЙТЕ 
				br
				| СКРОЛЛ