.section.b-page__screen.b-page__screen--reviews
	.b-reviews 
		.b-reviews__title Отзывы наших клиентов


		.b-reviews__content
			.b-reviews__list.owl-theme.owl-theme--green.owl-carousel.js-slider
				.b-reviews__item
					.b-review
						.b-review__line
							.b-review__title Имя: 
							.b-review__text Максим
						.b-review__line
							.b-review__title Город: 
							.b-review__text Оренбург
						.b-review__line
							.b-review__title Авто: 
							.b-review__text TOYOTA COROLLA
						.b-review__line
							.b-review__title Отзыв:
						.b-review__line
							.b-review__description Присадку посоветовал товарищ по работе, говорит чудо присадка экономит да ещё и мощей прибавляет. Сначала мягко говоря послал его, не играю я в такие игры и всегда относился скептически к ним. В один прекрасный день пришлось товарища довозить домой на его же автомобиле (отмечал своё д/р), раннее я ездил на его а/м Skoda Octavia II Рестайлинг 1.8АКПП 152л.с., но в этот раз я ее не узнал, машинка просто рвала с места у коробки пропали провалы - это супер, да при этом расход показывал 9.1 по городу я в шоке, тут же спросил у товарища где можно приобрести это чудо, на след. день доехав до ближайшего магазина взял и залил себе эффект аналогичен, расход упал примерно на литр при этом я ещё и давить в педальку больше начал. Короче советую попробывать не пожалеете.
				.b-reviews__item
					.b-review
						.b-review__line
							.b-review__title Имя: 
							.b-review__text Павел
						.b-review__line
							.b-review__title Город: 
							.b-review__text Невинномысск
						.b-review__line
							.b-review__title Авто: 
							.b-review__text Максус
						.b-review__line
							.b-review__title Отзыв:
						.b-review__line
							.b-review__description катаюсь на авто Максус расход топлива был где то 11 л. на сто, после того как стал заливать присадку, где-то со второго пузырька увидел эффект когда расход начал уменьшаться с 11 л. упал на 8,5 л.. Я думаю что это не плохой способ сэкономит.
				.b-reviews__item
					.b-review
						.b-review__line
							.b-review__title Имя: 
							.b-review__text Олег
						.b-review__line
							.b-review__title Авто: 
							.b-review__text Hyundai Getz
						.b-review__line
							.b-review__title Отзыв:
						.b-review__line
							.b-review__description Владею Хёнде Гетц 1,6 л.Залил Нагробуст для бензина.Реально почувствовал увеличение мощности.Также двигатель стал работать мягче,обратная связь тоже стала информативнее.Буду и дальше заливать.


			.b-reviews__nav
				.b-nav.b-nav--prev 
					span Назад 
				.b-nav.b-nav--next 
					span Следующий

		.b-reviews__scroll
			.b-scroll
				.b-scroll__icon.js-move-section-down
				.b-scroll__line
				.b-scroll__text ИСПОЛЬЗУЙТЕ 
					br
					| СКРОЛЛ