.section.b-page__screen.b-page__screen--reviews
	.b-reviews 
		.b-reviews__title Отзывы наших клиентов


		.b-reviews__content
			.b-reviews__list
				.b-reviews__item
					.b-review
						.b-review__line
							.b-review__title Имя: 
							.b-review__text Андрей
						.b-review__line
							.b-review__title Город: 
							.b-review__text Оренбург
						.b-review__line
							.b-review__title Авто: 
							.b-review__text RENAULT-MEGANE
						.b-review__line
							.b-review__title Отзыв:
						.b-review__line
							.b-review__description Пользуюсь присадкой уже давно, очень доволен. Авто .Во-первых большая экономия топлива, во-вторых автомобиль стал резвым,скорость набирает моментально,легкость в управлении. Всем советую,не пожалеете,попробуйте и сами все поймете.

			.b-reviews__nav
				.b-nav.b-nav--prev 
					span Назад 
				.b-nav.b-nav--next 
					span Следующий

			.b-reviews__button