.section.b-page__screen.b-page__screen--use
	.b-use 
		.b-use__title Практическое применение NAGROBOOST

		.b-use__video
			img(src='/assets/images/video.png')

		.b-use__footer
			.b-use__text Данные в цифрах:
			.b-use__group
				.b-use__button
					img(src='/assets/images/icon-makarova.png')
					span гумрФ им. Макарова
				.b-use__button
					img(src='/assets/images/icon-mostransauto.png')
					span ГУП «МОСТРАНСАВТО»

		.b-use__scroll
			.b-scroll
				.b-scroll__icon
				.b-scroll__line
				.b-scroll__text ИСПОЛЬЗУЙТЕ 
					br
					| СКРОЛЛ