.section.b-page__screen.b-page__screen--whom
	.b-whom
		.b-whom__button
			a.b-button.b-button--whom(href="#") 
				span Кому необходим

		.b-whom__content
			.b-whom__wrap
				img.b-whom__car(src="/assets/images/car-image.png")
				.b-whom__text.b-whom__text--left Снижение расхода топлива на 15%
				.b-whom__text.b-whom__text--top Очищение системы
				.b-whom__text.b-whom__text--right Повышение мощности
	
	
		.b-whom__scroll
				.b-delivery
					.b-delivery__text Условия 
						br
						| доставки
					.b-delivery__icon
						img(src="/assets/images/delivery-icon.png")

				.b-scroll.b-scroll--green
					.b-scroll__icon.b-scroll__icon--green
					.b-scroll__line.b-scroll__line--green
					.b-scroll__text.b-scroll__text--green ИСПОЛЬЗУЙТЕ 
						br
						| СКРОЛЛ